* {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(253 , 251 , 251);
  color: rgb(18 , 20 , 22);
}

.container, #logo img {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

#navbar-container {
  width: 100%;
  background-color: white;
  padding: 1% 0;
  padding-left: 7%;
}

#site-navbar li {
  display: inline;
  color: rgb(68 , 68 , 68);
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}

a {
  color: rgb(68 , 68 , 68);
  text-decoration: none;
}

a:hover {
  color: rgb(15 , 163 , 107);
  text-decoration: underline;
}

a:visited, table a:hover {
  text-decoration: none;
}

#logo {
  position: absolute;
  top: 15%;
  left: 2%;
  width: 5%;
  min-width: 40px;
  background-color: white;
  padding: 5px 5px 0;
  margin: 0;
}

#titulo {
  font-size: 3em;
  padding-left: 9%;
  margin: 1%;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(15 , 163 , 107);
  color: rgb(253 , 251 , 251);
}

header {
  width: 100%;
  height: 500px;
  background-image: url('https://blog.betrybe.com/wp-content/uploads/2020/03/fot-trybe-texto-lucas-scaled-1-1920x1024.jpg');
  background-size: cover;
  margin-top: 5%;
}

header .container {
  height: 100%;
  background-color: rgba(49 , 49 , 67 , 0.6);
}

#titulo-texto {
  color: rgb(253 , 251 , 251);
  font-weight: 700;
  font-size: 4.5em;
  line-height: 1;
}

#banner {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin: 3% 7%;
}

#section-name {
  color: white;
  margin-bottom: 100px;
  font-size: 1em;
  font-weight: 700;
}

#section-name div {
  display: inline-block;
}

#section-name #name {
  color: rgb(184 , 182 , 182);
  padding-left: 8px;
}

#text-info a, #section-name #name a:hover {
  color: white;
}

#section-name #name a {
  color: rgb(184 , 182 , 182);
  padding-left: 5px;
}

#section-name #capital {
  width: 40px;
  height: 40px;
  background-color: rgb(201 , 245 , 5);
  font-size: 3em;
  font-weight: 400;
  padding: 10px 10px 25px 20px;
}

#text-info {
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  word-spacing: 0.1em;
  margin-top: 40px;
}

.article-container {
  overflow: auto;
  padding: 5% 8%;
}

article {
  width: 45%;
  line-height: 1.5em;
  padding: 2%;
}

.lado-direito {
  float: right;
}

.lado-esquerdo {
  float: left;
}

address {
  width: 45%;
  margin: 1em 0;
  background-color: rgb(226 , 226 , 226);
  font-style: normal;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0 2em;
  padding-bottom: 1em;
}

#author-title {
  font-size: 1.5em;
}

#author-name {
  font-size: 1.3em;
  margin: 2em 0.4em 0.4em;
}

#author-description {
  padding: 0 2em;
}

.article-title {
  font-size: 2em;
  margin: 1em 0;
}

h4 {
  margin: 1em 0;
}

aside {
  background-color: rgb(15 , 163 , 107);
  color: white;
  margin: 3em 0 2em;
  padding: 2em;
  box-shadow: -20px -15px rgba(169 , 169 , 169 , 0.3);
}

#minha_foto {
  float: left;
  width: 100px;
  border-radius: 50%;
  margin-right: 1em;
}

footer {
  width: 100%;
  background-color: rgb(15 , 163 , 107);
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 0.8em;
  padding: 1em;
}

table {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin-top: 2em;
}

table i {
  font-size: 1.3em;
}
